.contacts {
  &__content {
    @include page-grid;

    row-gap: $spacing-lg;

    @include on-tablet {
      row-gap: $spacing-md;
    }
  }

  &__form {
    display: flex;
    grid-column: 1 / -1;
    flex-direction: column;
    gap: $spacing-sm;

    @include on-tablet {
      grid-column: 1 / 4 ;
    }

    @include on-desktop {
      grid-column: span 5 ;
    }
  }

  &__wrapper {
    grid-column: 1 / -1;


    @include on-tablet {
      grid-column: 4 / 7;
    }

    @include on-desktop {
      grid-column: 8 / -1;
    }
  }

  &__info {
    display: grid;
    row-gap: $spacing-xs;

    margin: 0;
    margin-bottom: $spacing-md;
    padding: 0;
  }

  &__input,
  &__textarea {
    box-sizing: border-box;
    width: $width-full;
    padding: $spacing-base $spacing-sm;
    border: none;

    font-family: $font-family-base;
    font-size: $fs-14;
    font-weight: $font-weight-regular;
    line-height: $lh-px-20;
    color: $color-text-placeholder-hover;

    background-color: $color-background-light;
    outline: none;

    transition: color $effectDuration ease;

    &::placeholder {
      font-size: $fs-14;
      font-weight: $font-weight-regular;
      line-height: $lh-px-20;
      color: $color-text-placeholder;
    }

    &:hover::placeholder {
      color: $color-text-placeholder-hover;
    }
  }

  &__input {
    border-radius: $radius-lg;
  }

  &__textarea {
    height: $height-textarea;
    border-radius: $radius-sm;

  }

  &__button {
    height: $height-input;
    margin-top: $spacing-sm;
    border: 0;
    border-radius: $radius-lg;

    font-family: $font-family-base;
    font-weight: $font-weight-bold;
    line-height: $lh-px-27;
    color: $color-black;

    background-color: $color-text-light;

    transition: box-shadow $effectDuration ease-out;

    &:hover {
      box-shadow: 1px 4px 16px 0 #E8E8F066;
    }

    &:active {
      transform: translateY(1px);
      box-shadow: 1px 4px 16px 0 #E8E8F0A3;
    }
  }

  &__title {
    margin: 0;
    font-size: $fs-14;
    font-weight: $font-weight-regular;
    line-height: $lh-unit-relaxed;
  }

  &__description {
    margin: 0;
    font-size: $fs-16;
    font-weight: $font-weight-medium;
    line-height: $lh-unit-relaxed;

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        color: $color-text-placeholder-hover-secondary;
      }
    }
  }
}
