.footer {
  position: sticky;
  z-index: -1;
  bottom: 0;
  left: 0;

  width: $width-full;
  height: $height-sm;

  background-image: url(../Images/products/footer-image.png);
  background-repeat: no-repeat;
  background-position: -111px center;
  background-size: cover;

  @include on-tablet {
    height: $height-footer-photo-1;
    background-position: -278px center;
  }

  @include on-desktop {
    height: $height-footer-photo-2;
    background-position: center;
  }
}
