.header {
  background-image: url(../Images/header-bg-mobile.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: $height-viewport;
  }

  &__bottom {
    padding-bottom: $spacing-section-sm;
    text-align: center;

    @include on-tablet {
      padding-bottom: $spacing-section-md;
    }

    @include on-desktop {
      padding-bottom: $spacing-section-lg;
    }
  }

  &__title {
    margin: 0;

    font-size: $fs-36;
    font-weight: $font-weight-bold;
    font-style: bold;
    line-height: $lh-unit-base;
    letter-spacing: $letter-spacing-tight;

    @include on-tablet {
      font-size: $fs-64;
    }

    @include on-desktop {
      font-size: $fs-80;
    }
  }
}
