.icon {
  display: block;

  width: $width-icon;
  height: $height-icon;

  background-position: center;
  background-size: cover;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    width: $width-xs;
    height: $height-xs;
  }

  &--phone {
    background-image: url(../Images/icons/icon-phone.svg);
  }

  &--menu {
    background-image: url(../Images/icons/icon-burger-menu.svg);

    &:hover {
      background-image: url(../Images/icons/icon-burger-menu-hover.svg);
    }
  }

  &--close {
    background-image: url(../Images/icons/icon-close.svg);
  }
}
