.main {
  background-color: #1d1d1d;

  &__content {
    display: grid;
    row-gap: $spacing-huge;
    padding-block: $spacing-huge;

    @include on-tablet {
      row-gap: $spacing-xxl;
      padding-block: $spacing-xxl;
    }
  }
}
