.nav {
  &__list {
    display: flex;
    flex-direction: column;
    gap: $spacing-l;

    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__link {
    position: relative;

    font-size: $fs-22;
    line-height: $lh-unit-base;
    color: $color-primary;
    text-decoration: none;
    letter-spacing: $letter-spacing-base;

    &::after {
      content: '';

      position: absolute;
      bottom: -8px;
      transform-origin: left;
      transform: scale(0);

      display: block;

      width: $width-full;
      height: $height-line;

      background-color: $color-primary;

      transition: transform $effectDuration;
    }

    &:hover::after {
      transform: scale(1);
    }
  }
}
