.page {
  scroll-behavior: smooth;

  overflow-x: hidden;

  font-family: $font-family-base;
  font-size: $fs-16;
  line-height: $lh-unit-relaxed;
  color: $color-text-light;

  &__body {
    overflow-x: hidden;
    min-width: $mobile-min-width;
    margin: 0;
    background-color: #1d1d1d;
  }

  &__menu {
    pointer-events: none;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transform: translateX(-100%);

    opacity: 0;

    transition: all $effectDuration;

    &:target {
      pointer-events: all;
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.page:has(.page__menu:target) {
  overflow: hidden;
}
