.section-title {
  margin: 0;
  margin-bottom: $spacing-l;

  font-size: $fs-32;
  font-weight: $font-weight-medium;
  line-height: $lh-unit-base;
  text-align: center;
  letter-spacing: $letter-spacing-tight;

  @include on-tablet {
    margin-bottom: $spacing-xl;
    font-size: $fs-48;
  }

  @include on-desktop {
    font-size: $fs-64;
  }

  &--align--left {
    text-align: left;
  }
}
