$mobile-min-width: 320px;
$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$width-full: 100%;
$width-icon: 24px;
$width-xs: 32px;
$width-max: 200px;
$width-small-device: 278px;
$width-mobile-content: 324px;
$width-large-device: 392px;
$effectDuration: 0.3s;
$color-primary: #1D1D1D;
$color-text-light: #fff;
$color-black: #000;
$color-text-placeholder: #7E7E83;
$color-text-placeholder-hover: #292929;
$color-background-light: #F8F8FA;
$color-text-placeholder-hover-secondary: #d1d1d1;
$font-family-base: "Poppins", sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-20: 20px;
$fs-22: 22px;
$fs-23: 23px;
$fs-24: 24px;
$fs-32: 32px;
$fs-36: 36px;
$fs-48: 48px;
$fs-64: 64px;
$fs-80: 80px;
$letter-spacing-base: 2px;
$letter-spacing-tight: -1.5px;
$lh-unit-base: 1.0;
$lh-unit-relaxed: 1.4;
$lh-px-16: 16px;
$lh-px-20: 20px;
$lh-px-22: 22px;
$lh-px-27: 27px;

// GAPS
$spacing-xxs: 7px;
$spacing-xs: 8px;
$spacing-base: 14px;
$spacing-sm: 16px;
$spacing-phone-gap: 20px;
$spacing-md: 24px;
$spacing-l: 32px;
$spacing-lg-custom: 36px;
$spacing-lg: 40px;
$spacing-xl: 48px;
$spacing-huge: 92px;
$spacing-xxl: 120px;
$spacing-section-sm: 88px;
$spacing-section-md: 130px;
$spacing-section-lg: 203px;
$radius-sm: 16px;
$radius-lg: 40px;
$height-line: 1px;
$height-icon: 24px;
$height-xs: 32px;
$height-custom-sm: 38px;
$height-input: 56px;
$height-textarea: 148px;
$height-sm: 200px;
$height-footer-photo-1: 480px;
$height-footer-photo-2: 555px;
$height-full: 100%;
$height-viewport: 100vh;

